
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/screenshots/results/
/screenshots/baselines/*
!/screenshots/baselines/linux/
!/screenshots/baselines/linux/**

# Environment variables
.env
